<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div id="layoutSidenav">
   <!-- sidebar -->
   <%- include('../layout/sidebar.ejs') %>
   <div id="layoutSidenav_content">
      <main>
         <div class="container-fluid">
            <h3 class="mt-4">Consumer</h3>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item">
                    <a href="#uiw">Data UIW/UID</a>
                </li>
                <li class="breadcrumb-item active"> 
                    <a href="#area">Data UP3</a> 
                </li>
            </ol>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-header">UIW/UID</div>
                            <%- include('headConsumers.ejs') %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-header">UP3/Area</div>
                            <%- include('subConsumers.ejs') %>
                        </div>
                    </div>
                </div>
            </div>
         </div>
      </main>
      <%- include('../../partials/footer.ejs') %>
   </div>
</div>
<%- include('../../partials/js.ejs') %>

<script>
    $(document).ready( function () {
        $('#dataTables').DataTable();
    } );
</script>