<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div id="layoutSidenav">
   <!-- sidebar -->
   <%- include('../layout/sidebar.ejs') %>
   <div id="layoutSidenav_content">
      <main>
         <div class="container-fluid">
            <h1 class="mt-4">Report AFS</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Data AFS</li>
            </ol>
            <div class="card mb-4">
                <div class="card-body">
                    <form action="">
                        <div class="row">
                            <input type="text" placeholder="UIW">
                            <input type="text" placeholder="Area">
                            <input type="text" placeholder="Nomor Surat">
                        </div>
                        <div class="row">

                            <button type="submit" class="btn btn-primary">Download</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <%- include('tabelReport.ejs') %>
                </div>
            </div>
         </div>
      </main>
      <%- include('../../partials/footer.ejs') %>
   </div>
</div>
<%- include('../../partials/js.ejs') %>
