<%- include('../../../partials/header.ejs') %>
<%- include('../../../partials/navbar.ejs') %>
<div id="layoutSidenav">
   <!-- sidebar -->
   <%- include('../../layout/sidebar.ejs') %>
   <div id="layoutSidenav_content">
      <main>
         <div class="container-fluid">
            <h3 class="mt-4">Document Klaim Garansi</h3>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Data Document Klaim</li>
            </ol>
            <div class="card mb-4">
                <div class="card-body">
                   <%- include('dataDoc.ejs') %>
                </div>
            </div>
         </div>
      </main>
      <%- include('../../../partials/footer.ejs') %>
   </div>
</div>
<%- include('../../../partials/js.ejs') %>
