<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div id="layoutSidenav">
   <!-- sidebar -->
   <%- include('../layout/sidebar.ejs') %>
   <div id="layoutSidenav_content">
      <main>
         <div class="container-fluid">
            <h1 class="mt-4">Product</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Data Product</li>
            </ol>
            <div class="card mb-4">
                <div class="card-body">
                    <%- include('formProduct.ejs') %>
                </div>
            </div>
            <div class="row">
                <%- include('tabelProduct.ejs') %>
            </div>
         </div>
      </main>
      <%- include('../../partials/footer.ejs') %>
   </div>
</div>
<%- include('../../partials/js.ejs') %>
